<div class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Edit Contact</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eius suscipit ratione ea autem
        pariatur corrupti voluptas earum consequuntur consectetur nisi similique vero, perferendis et rem aut
        accusantium non enim!</p>
    </div>
  </div>
</div>
<!-----edit contact form-->

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="submitUpdate()">
        <div class="mb-2">
          <input [(ngModel)]="contact.name" [value]="contact.name" name="name" required="true" class="form-control" placeholder="Name"
            type="text">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.photo" [value]="contact.photo" name="photo" required="true" class="form-control"
            placeholder="Photo Url" type="text">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.email" [value]="contact.email" name="email"  required="true" class="form-control" placeholder="Email"
            type="email">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.mobile" [value]="contact.mobile" name="mobile" required="true" class="form-control" placeholder="Mobile"
            type="number">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.company" [value]="contact.company" name="company" required="true" class="form-control"
            placeholder="Company" type="text">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.title" [value]="contact.title" name="title"  required="true" class="form-control" placeholder="Title"
            type="text">
        </div>
        <div class="mb-2">
          <select [(ngModel)]="contact.groupId" [value]="contact.groupId" required="true" name="groupId" class="form-control">
            <option value="">Select a Group</option>
            <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>

          </select>
        </div>
        <div class="mb-2">
          <input class="btn btn-danger" value="Update" type="submit">
          <a class="btn btn-dark ms-2" routerLink="/">Close</a>

        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img
       img [src]="contact.photo" alt="" class="contact-img">
    </div>
  </div>
</div>
<!-- <pre>{{contact | json}}</pre> -->
